:root {
  /* primary */
  --color-primary-100: var(--color-violet-100);
  --color-primary-200: var(--color-violet-200);
  --color-primary-300: var(--color-violet-300);
  --color-primary-400: var(--color-violet-400);
  --color-primary-500: var(--color-violet-500);
  --color-primary-600: var(--color-violet-600);
  --color-primary-700: var(--color-violet-700);
  --color-primary-800: var(--color-violet-800);
  --color-primary-900: var(--color-violet-900);

  /* neutral */
  --color-neutral-100: var(--color-gray-100);
  --color-neutral-200: var(--color-gray-200);
  --color-neutral-300: var(--color-gray-300);
  --color-neutral-400: var(--color-gray-400);
  --color-neutral-500: var(--color-gray-500);
  --color-neutral-600: var(--color-gray-600);
  --color-neutral-700: var(--color-gray-700);
  --color-neutral-800: var(--color-gray-800);
  --color-neutral-900: var(--color-gray-900);

  /* ======================================= */

  /*  Static colors   */

  /* primary scheme */
  --color-primary-lightest: var(--color-primary-100);
  --color-primary-lighten-l: var(--color-primary-200);
  --color-primary-lighten-m: var(--color-primary-300);
  --color-primary-lighten-s: var(--color-primary-400);
  --color-primary: var(--color-primary-500);
  --color-primary-darken-s: var(--color-primary-600);
  --color-primary-darken-m: var(--color-primary-700);
  --color-primary-darken-l: var(--color-primary-800);
  --color-primary-darkest: var(--color-primary-900);

  /* base */
  --color-white: #fff;
  --color-black: #000;

  /* status colors */
  --color-error: var(--color-red-500);
  --color-success: var(--color-chartreuse-500);

  /* neutral colors scheme */
  --color-neutral-white: var(--color-white);
  --color-neutral-lightest: var(--color-neutral-100);
  --color-neutral-lighten-l: var(--color-neutral-200);
  --color-neutral-lighten-m: var(--color-neutral-300);
  --color-neutral-lighten-s: var(--color-neutral-400);
  --color-neutral-default: var(--color-neutral-500);
  --color-neutral-darken-s: var(--color-neutral-600);
  --color-neutral-darken-m: var(--color-neutral-700);
  --color-neutral-darken-l: var(--color-neutral-800);
  --color-neutral-darkest: var(--color-neutral-900);
  --color-neutral-black: var(--color-black);

  /* background */

  --color-background: var(--color-primary-darken-l);

  /* spicial colors */
  --color-blonde: var(--color-blonde-300);
}
