:root {
  --size-skew-elements: skewX(-38deg);
  --size-blur-backdrop: blur(14px);
  --color-bg-backdrop: var(--color-background) / 50%;
  --shadow-popup: 5px 5px 20px 0px var(--color-primary) / 25%;
  --outline-focus-visible: var(--s4) solid var(--color-primary) / 40%;
  --outline-offset-focus-visible: var(--s2);
  --transition-duration: 0.3s;
  --font-family-default: 'SF UI Display', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;

  overflow-x: hidden;

  font-family: var(--font-family-default);
  font-size: var(--sr16);
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-white);

  background-color: var(--color-background);
}

.focus-visible {
  outline: var(--outline-focus-visible);
  outline-offset: var(--outline-offset-focus-visible);
}

button,
a,
summary,
[role='button'],
[data-tooltip-id],
[tabindex] {
  &:focus-visible {
    outline: var(--outline-focus-visible);
    outline-offset: var(--outline-offset-focus-visible);
  }
}

input,
textarea {
  &:focus-visible {
    outline: none;
  }
}
