:root {
  --shadow-popup: 5px 5px 20px 0px var(--color-primary) / 25%;
  --gradient-background-elements: linear-gradient(
    98.43deg,
    var(--color-primary-lighten-m) 37.56%,
    var(--color-primary-lightest) 103.4%
  );
  --gradient-border-elements: linear-gradient(
    180deg,
    var(--color-primary-lighten-s) 0%,
    var(--color-primary-lighten-l) 100%
  );
  --outline-focus-visible: var(--s4) solid var(--color-primary);
  --outline-offset-focus-visible: var(--s2);
  --transition-duration: 0.3s;
  --font-family-default: 'SF UI Display', sans-serif;
  --size-height-header: var(--s48);

  /* border radius */
  --border-radius-s: var(--s8);
  --border-radius-m: var(--s16);
  --border-radius-l: var(--s20);
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable;

  overflow: hidden;

  font-family: var(--font-family-default);
  font-size: var(--sr16);
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-white);

  background-color: var(--color-background);
}

.focus-visible {
  outline: var(--outline-focus-visible);
  outline-offset: var(--outline-offset-focus-visible);
}

button,
a,
summary,
[role='button'],
[data-tooltip-id],
[tabindex] {
  &:focus-visible {
    outline: var(--outline-focus-visible);
    outline-offset: var(--outline-offset-focus-visible);
  }
}

input,
textarea {
  &:focus-visible {
    outline: none;
  }
}
