:root {
  /* violet */
  --color-violet-200: #7264f4;
  --color-violet-300: #1f3469;
  --color-violet-400: #282874;
  --color-violet-500: #271e56;
  --color-violet-800: #281c48;

  /* blonde */
  --color-blonde-300: #f9f6e9;
}
