:root {
  /* violet */
  --color-violet-100: #b7a9ff;
  --color-violet-200: #7264f4;
  --color-violet-300: #6041ff;
  --color-violet-400: #443d87;
  --color-violet-500: #282874;
  --color-violet-600: #311d82;
  --color-violet-700: #20356a;
  --color-violet-800: #271e56;
  --color-violet-900: #291d49;

  /* blonde */
  --color-blonde-300: #f9f6e9;

  /* red */
  --color-red-500: #ff3000;

  /* chartreuse */
  --color-chartreuse-500: #07f269;

  /* gray */
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e3e3e3;
  --color-gray-300: #cfcfcf;
  --color-gray-400: #b5b5b5;
  --color-gray-500: #8c8c8c;
  --color-gray-600: #757575;
  --color-gray-700: #4a4a4a;
  --color-gray-800: #363636;
  --color-gray-900: #171717;
}
