:root {
  --s0: 0px;
  --s2: 2px;
  --s4: 4px;
  --s6: 6px;
  --s8: 8px;
  --s10: 10px;
  --s12: 12px;
  --s14: 14px;
  --s16: 16px;
  --s20: 20px;
  --s24: 24px;
  --s28: 28px;
  --s32: 32px;
  --s36: 36px;
  --s40: 40px;
  --s44: 44px;
  --s48: 48px;
  --s52: 52px;
  --s56: 56px;
  --s60: 60px;
  --s64: 64px;
  --s68: 68px;
  --s72: 72px;
  --s76: 76px;
  --s80: 80px;
  --s96: 96px;
  --s160: 160px;

  /* rem sizes */
  --sr0: 0rem;
  --sr4: 0.25rem;
  --sr8: 0.5rem;
  --sr12: 0.75rem;
  --sr14: 0.875rem;
  --sr16: 1rem;
  --sr18: 1.125rem;
  --sr20: 1.25rem;
  --sr24: 1.5rem;
  --sr28: 1.75rem;
  --sr30: 1.875rem;
  --sr32: 2rem;
  --sr36: 2.25rem;
  --sr40: 2.5rem;
  --sr42: 2.625rem;
  --sr44: 2.75rem;
  --sr48: 3rem;
  --sr52: 3.25rem;
  --sr56: 3.5rem;
  --sr60: 3.75rem;
  --sr64: 4rem;
  --sr76: 4.75rem;
  --sr90: 5.625rem;
  --sr96: 6rem;
  --sr128: 8rem;
}
