.container {
  height: calc(100dvh - var(--size-height-header));
  margin: 0 auto;

  background-image: url('/images/bg-lines.png');
  background-position: bottom center;
  background-size: auto;
  background-blend-mode: screen;
}
