.image-icon {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  object-position: center;
}

.size-s {
  width: var(--s20);
  height: var(--s20);
}

.size-m {
  width: var(--s24);
  height: var(--s24);
}

.size-l {
  width: var(--s32);
  height: var(--s32);
}
