.button {
  touch-action: manipulation;
  cursor: pointer;

  padding: 0;

  text-decoration: none;

  appearance: none;
  background-color: transparent;
  border: 0;

  &:disabled {
    cursor: not-allowed;
  }
}
