.symbol {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: var(--s8);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--color-blonde);
}

.symbol-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
