.slot-machine {
  position: relative;
  aspect-ratio: 57 / 51;
  width: 300px;
}

.status-bar {
  position: absolute;
  right: var(--s0);
  bottom: var(--s20);
  left: var(--s0);

  padding-inline: var(--s40) var(--s68);
}
