.reels {
  position: absolute;
  top: 108px;
  left: 44px;
  transform-style: preserve-3d;

  display: grid;
  grid-template-columns: repeat(3, 62px);
  grid-template-rows: 74px;

  perspective: 550px;
}
