.slot-machine {
  position: relative;
  aspect-ratio: 57 / 51;
  width: 300px;
}

.status-bar {
  position: absolute;
  right: var(--s0);
  bottom: var(--s24);
  left: var(--s0);

  padding-inline: var(--s32) var(--s60);
}
